<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FileExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="FileExplorer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <connectionStrings>
    <add name="LiteDB" connectionString="FileName=C:\Users\kenne\Documents\Dev Projects\TestDirectory\FileExplorer.db;Connection=Shared" />
    <add name="FileExplorer.Properties.Settings.ConnectionString"
      connectionString="FileName=C:\Users\kenne\Documents\Dev Projects\TestDirectory\FileExplorer.db;Connection=Shared" />
  </connectionStrings>
  <applicationSettings>
    <FileExplorer.Properties.Settings>
      <setting name="ProjectRoot" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>G:\Proj</string>
            <string>G:\Proj\2019</string>
            <string>G:\Proj\2020</string>
          </ArrayOfString>
        </value>
      </setting>
    </FileExplorer.Properties.Settings>
  </applicationSettings>
  <userSettings>
    <FileExplorer.Properties.Settings>
      <setting name="IsOnGRServer" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IsFirstRun" serializeAs="String">
        <value>True</value>
      </setting>
    </FileExplorer.Properties.Settings>
  </userSettings>
</configuration>